<div class="section" fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="100">
        <div  fxLayoutAlign="center center" fxLayout.xs="row" fxLayout.sm="row"
            fxFlex.xs="100">
        
        <form fxFlex.xs="100" fxFlex.sm="100" >
            
            <div class="form">
                <!-- name -->

                <div class="fullname">
                    <div>
                        <mat-label>Name</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">

                            <input name="name" type="text" [(ngModel)]="name" matInput placeholder="">
                            <mat-error>Enter your name</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- email id -->

                <div class="email">
                    <div>
                        <mat-label>Email Id</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input name="email" type="text" [(ngModel)]="email" matInput placeholder="">
                            <mat-error>Enter an email address</mat-error>
                        </mat-form-field>
                    </div>

                </div>



                <!-- date of birth -->
                <div class="dob">
                    <div>
                        <mat-label>DOB</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input name="dob" type="text" [(ngModel)]="dob"  matInput placeholder="">
                            <mat-error>Enter a DOB</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- add address -->
                <div class="address">
                    <div>
                        <mat-label>Address</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input name="address" type="text" [(ngModel)]="address"  matInput placeholder="">
                            <mat-error>Enter your Address</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- add your country -->
            
                <div class="country">
                    <div>
                        <mat-label>country</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <!-- <select name="" id=""> -->
                                <input name="country" type="text" [(ngModel)]="country"  matInput placeholder="">
                                <!-- <option *ngFor="let count of country" value="{{count.id}}">{{count.countri}}</option> -->
                            <!-- </select> -->
                        
                            <mat-error>Enter your country</mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div fxLayoutAlign.xs="column" >
                    <button class="signupbutton" (click)="autorelode()" mat-flat-button  (click)="closeDialog()">update</button>
                </div>


            </div>
        </form>
    </div>

</div>