
<div class="section" fxLayout="row" fxLayoutAlign="center center" ngClass.xs="section-xs" >
    
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="row" fxLayout.sm="row" fxFlex.xs="95"  >
            <div class="login" >
                <P>LOGIN</P>
            </div>
            <div class="signup" routerLink="/uplode">
                <p>SIGNUP</p>
            </div>
        </div>
        <form  >
           
            <div class="form">

                <div class="email" >
                    <div>
                        <mat-label>Email Id</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">

                            <input type="text" formControlName="email" matInput placeholder="">
                            <mat-error>Enter an email address</mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div class="password" >
                    <div>
                        <mat-label>Password</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">

                            <input type="password" formControlName="password" matInput placeholder="">
                            <mat-error>Enter a password</mat-error>
                        </mat-form-field>

                    </div>

                </div>

                <div class="forgotpasswordbutton">
                    <button class="button" >Forgot password?</button>

                </div>

                <div>
                    <button class="signupbutton" mat-flat-button>Login</button>
                </div>

            </div>
        </form>

  

</div>